<% layout('layout/boilerplate.ejs') %>


<h1 class="display-6 text-center mb-4">Search and View Our users</h1>

    <form action="/results/?" class="d-flex mb-5">
        <input class="form-control me-2" type="search" placeholder="Search users ...." name="search_query" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
    </form>
        

    <div class="grid gap-2" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));">
    <% for( let user of users ) { %>
        
        <div class="card" style="width: 18rem;">
          <% if(user.image && user.image !== ''){ %>
            <img src="<%= user.image %>" class="card-img-top" alt="..." style="object-fit: cover; height: 250px;">
          <% } else { %>
            <img src="img/profileback.png" class="card-img-top" alt="..." style="object-fit: cover; height: 250px;">
          <% } %>
          <div class="card-body">
            <h5 class="card-title"><%= user.username %>
              <% if(user.verify) {%>
              <img src="/img/verifytick.png" style="width: 15px;" alt="">
              <!-- <i class="fa-solid fa-badge-check"></i> -->
              <%}%>
            </h5>
            <p class="card-text"><%= user.name %></p>
            <a href="/users/<%= user._id %>" class="btn btn-primary">View <%= user.username %></a>
          </div>
        </div>
            
        <% } %>
    </div>